<div class="sidebar open pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="https://ems.africacdc.org/public_dashboards/" class="navbar-brand mx-4 mt-3">
            <h5>PUBLIC DASHBOARDS</h5>
        </a>
        <div class="navbar-nav w-100">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Dashboards</a>
                <div class="dropdown-menu border-0">
                    <a href="https://ems.africacdc.org/public_dashboards/" class="dropdown-item mx-3">MPOX</a>
                </div>
            </div>
        </div>
    </nav>
</div>